$side: 200px;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  display: block;
  height: 100%;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

.puzzle {
  padding: 5px;
  position: relative;
}

.square__list {
  width: $side;
  height: $side;
  background-color: darkcyan;
  border: 1px solid black;
  position: relative;
  border-radius: 3.75%;
  margin: 0 auto;
}

.square__item {
  width: 25%;
  height: 25%;
  background-color: white;
  border: 1px solid black;
  border-radius: 15%;
  position: absolute;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s linear;
}
.square-0 {
  opacity: 0;
}

.win-banner {
  display: none;
  position: absolute;
  width: $side;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: orangered;
  .br {
    display: block;
    text-align: center;
  }
}
