@import './base.scss';
@import './fifteenPuzle.scss';
@import './timer.scss';

.form-box {
  padding: 5px;
  margin: 0 auto;
  width: $containerSide;
  background-color: darkcyan;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}
.form {
}
.form__button {
  display: block;
  width: 100%;
}
.form__label {
  display: block;
}
.form__input {
}
.form__deck {
}
